body {
    font-family: "Hack", Arial;
    background-color: #000000;
    color: #cccccc;
    text-align: left;
    margin-top: 0px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

a, .comment a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #aaaaff;
}

a:hover, .comment a:hover {
	color: #5555cc;
    transition: .4s;
}

p { 
    font-size: 20px;
}

h1 {
    font-size: 34px;
    color: #ddddff;
    margin-bottom: 5px;
}

h2 {
    font-size: 28px;
    color: #8888ff;
}

h3 {
    font-size: 22px;
    color: #4444bb;
}

.content {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-bottom: 80px;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1600px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 22px;
    z-index: 5;
    list-style: none;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    min-height: 30px;
    text-align: center;
}

.header li {
    overflow: hidden;
    display: inline-block;
    height: 30px;
}

.header li a {
    color: #ffffff;
    z-index: 5;
    display: inline-block;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    transition: .5s;
}

.header li a::before {
    content: "[";
    color: #aaaaaa;
}

.header li a::after {
    content: "]";
    color: #aaaaaa;
}

.header li a:hover {
    transition: .2s;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #9999ff;
}

.meta {
    font-size: 18px;
    font-style: italic;
    color: #777777;
    margin-top: 10px;
}

.preamble {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#table-of-contents h2 {
    display: none;
}
