body {
    font-family: "Hack", Arial;
    background-color: #000000;
    color: #cccccc;
    text-align: center;
    margin-top: 0px;
}

a, .comment a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #aaaaff;
}

a:hover, .comment a:hover {
	color: #5555cc;
    transition: .4s;
}

h2 {
    font-size: 27px;
    margin: 0;
}

p {
    font-size: 20px;
}

.blocks {
	max-width:1600px;
	margin-right: auto;
	margin-left: auto;
	padding-right:60px;
	padding-left:60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.blocks img {
	display:inline-block;
	position: relative;
	max-width: 370px;
	overflow: hidden;
	max-height: 320px;
	margin: 15px;
    border-radius: 5px;
	z-index: 1;
    border-radius: 5px;
}

.blog {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.comment {
    font-style: italic;
    max-width: 1000px; 
    color: #707070;
    margin: 0; 
    margin-right: auto; 
    margin-left:auto; 
    font-size: 20px;
    text-align: center;
}

.contentBlock {
    text-align: left;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.contentBlock h2 {
    margin-bottom: 10px;
    margin-top: 30px;
}

.contentBlock p {
    width: auto;
}

.divider {
    font-size: 28px;
    text-align: center;
}

.footer {
    max-width: 1600px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 5;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1600px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 110%;
    z-index: 5;
    list-style: none;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    min-height: 30px;
    text-align: center;
}

.header li {
    overflow: hidden;
    display: inline-block;
    height: 30px;
}

.header li a {
    color: #ffffff;
    z-index: 5;
    display: inline-block;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    transition: .5s;
}

.header li a::before {
    content: "[";
    color: #aaaaaa;
}

.header li a::after {
    content: "]";
    color: #aaaaaa;
}

.header li a:hover {
    transition: .2s;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #9999ff;
}

.hint {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #9999ff;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.intro {
    max-width: 1000px;
    width: 70%;
    margin-right: auto; 
    margin-left: auto; 
    text-align: left; 
    margin-top: 20px;
}

.logo {
    display: block;
    max-height: 280px;
    max-width: 100px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 3%;
    width: auto;
    height: 100%;
}

.publinks {
    color: #bbbbbb;
    font-size: 18px;
    margin-top: 10px;
}

.publinks a {
    color: inherit;
}

.main {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.profile {
    border-radius: 3px;
    max-width: 300px;
}


.subtitle {
    font-size: 18px;
    margin: 0px;
    color: #9999ff;
}

.title {
    font-size: 35px;
    margin: 20px;
    color: white;
}
