body {
    font-family: "Hack", Arial;
    background-color: #000000;
    color: #cccccc;
    text-align: center;
    margin-top: 0px;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #aaaaff;
}

a:hover {
	  color: #5555cc;
    transition: .4s;
}

h1 {
    font-size: 40px;
    margin: 20px;
    color: white;
}

h2 {
    margin: 0px;
    color: #9999ff;
}

h3 {
    margin: 0px;
}

p {
    margin: 10px;
}

p a {
    color: #ffffff;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

p a:hover {
  color: #9999ff;
}

.background {
    max-width: 1600px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #151515;
    position: absolute;
    min-height: 100%;
}

.blocks {
	max-width:1600px;
	margin-right: auto;
	margin-left: auto;
	padding-right:60px;
	padding-left:60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}


.button a {
	color: #151515;
	text-decoration: none;
}
.button {
	display: inline-block;
	background-color: #202020;
	color: #999999;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin-right:5px;
	margin-left:5px;
	border-width: 0px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button:hover {
	background-color: #f18b6d;
	color: #ffffff;
}

.content {
    max-width: 1600px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.contentBlock {
    text-align: left;
    max-width: 80%;
}

.contentBlock h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 3px;
}

.contentBlock p {
    font-size: 23px;
    margin: 0;
    width: auto;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contentContainer img {
    display: block;
    max-height: 280px;
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 3%;
    width: auto;
    height: 100%;
}

.footer {
    max-width: 1600px;
    width: 79%;
    margin-right: 11%;
    margin-left: 11%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #151515;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 5;
}

.footer a {
    z-index: 5;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
}

.footer a:hover {
    transition: .1s;
    color: #f18b6d;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 110%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151515;
    position: sticky;
    top: 0;
    min-height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header li {
    overflow: hidden;
    display: inline-block;
    height: 30px;
}

.header li a {
    color: #ffffff;
    z-index: 5;
    display: inline-block;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    transition: .5s;
}

.header li a::before {
    content: "[";
    color: #aaaaaa;
}

.header li a::after {
    content: "]";
    color: #aaaaaa;
}

.header li a:hover {
    transition: .2s;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #9999ff;
}

.logo {
    border-radius: 3px;
    margin-bottom: 10px;
}

.photo {
	display:inline-block;
	position: relative;
	max-width: 370px;
	overflow: hidden;
	max-height: 320px;
	margin: 15px;
    border-radius: 5px;
}

.photo img {
	max-width: 100%;
	max-height:100%;
	z-index:1;
	transition:.4s;
    border-radius: 5px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	width: 370px;
	height: 200px;
	z-index:1;
	border-radius:5px;
	background-color: #47a9ff;
	margin: 15px;
	margin-left: 15px;
	margin-right: 15px;
    transition: .5s;
}

.textBlock:hover {
    background-color: #f18b6d;
    transition: .2s; 
}

.textBlock h2 {
	font-size: 200%;
	width: 80%;
	margin: 0;
  line-height: 95%;
}

.textBlock h3 {
	color: #dddddd;
	font-size: 120%;
	width: 100%;
	margin: 0;
	margin-top: 1%;
}
