body {
  font-family: "Nunito", Arial;
  background-color: #000000;
  color: #cccccc;
  text-align: center;
  margin-top: 0px;
}

a {
  text-decoration-line: none;
  color: white;
}

a:hover {
	color: #cccccc;
}

h1 {
  font-size: 40px;
  margin: 20px;
  color: white;
}

h3 {
  margin: 0;
}

img {
  border-radius: 10px;
}

p a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.background {
  max-width: 1600px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #151515;
  position: absolute;
  min-height: 100%;
}

.blocks {
	max-width:1600px;
	margin-right: auto;
	margin-left: auto;
	padding-right:60px;
	padding-left:60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}


.button a {
	color: #151515;
	text-decoration: none;
}
.button {
	display: inline-block;
	border-radius: 30px;
	background-color: #202020;
	color: #999999;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	width: 140px;
	transition: all 0.5s;
	cursor: pointer;
	margin-right:5px;
	margin-left:5px;
	border-width: 0px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '>>';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover {
	background-color: #f18b6d;
	color: #ffffff;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.content {
  max-width: 1600px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.contentBlock {
  text-align: left;
  max-width: 60%;
}

.contentBlock h2 {
  font-size: 35px;
  margin: 0;
  margin-bottom: 3px;
}

.contentBlock p {
  font-size: 23px;
  margin: 0;
  width: auto;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contentContainer img {
  display: block;
  max-height: 280px;
  max-width: 324px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 3%;
}

.footer {
  max-width: 1600px;
  width: 79%;
  margin-right: 11%;
  margin-left: 11%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #151515;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  z-index: 5;
}

.footer a {
  z-index: 5;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
}

.footer a:hover {
  transition: .1s;
  color: #f18b6d;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 110%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #151515;
  position: sticky;
  top: 0;
  min-width: 700px;
  min-height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header li {
  overflow: hidden;
  display: inline-block;
  height: 50px;
  border-radius: 30px;
  transition: .1s;
}

.header li a {
  z-index: 5;
  display: inline-block;
  color: #999999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li:hover {
  background-color: #f18b6d;
}

.header li a:hover {
  transition: .1s;
  color: #ffffff;
}

.photo {
	display:inline-block;
	position: relative;
	max-width: 370px;
	overflow: hidden;
	max-height: 320px;
	margin: 15px;
}

.photo img {
	max-width: 100%;
	max-height:100%;
	z-index:1;
	transition:.4s;
}

.textBlock {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	width: 370px;
	height: 200px;
	z-index:1;
	border-radius:10px;
	background-color: #47a9ff;
	margin: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.textBlock h2 {
	color: white;
	font-size: 200%;
	width: 80%;
	margin: 0;
  line-height: 95%;
}

.textBlock h3 {
	color: #dddddd;
	font-size: 120%;
	width: 100%;
	margin: 0;
	margin-top: 1%;
}
